body {
    background-color: cadetblue;
}

.card {
    display: grid;
    grid-template-rows: autp 1 fr;
    margin: auto;
    padding: 20px;
    border: 3px solid black;
    border-radius: 3%;
    box-shadow: 10px 10px 5px black;
    background-color: thistle;
    width: 400px;
    min-height: 600px;
}

.card:hover {
    transition: box-shadow 0.3s ease;
    box-shadow: 15px 15px 7.5px black;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20 px;
    margin-bottom: 20 px;
}

.profile {
    grid-row: 1;
    height: 200px;
    width: 200px;
    flex-shrink: 0;
    border-radius: 50%;
    margin: auto;
    border: 2px solid black;
    background: url(1723765595210.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

.name {
    grid-row: 2;
    font-size: 28 px;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: auto;
    align-items: center
}

.bio {
    grid-row: 3;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16 px;
    line-height: 1.7;
    color: #333;
    align-self: end;
}